$input-gray: #EDEDF1;

$heading-grid: (
  columns: 2,
  gutter: 0,
);

.pro-content {
  @include margin(1.250em);
  flex: 1 1 auto;
  background-color: $pro-white;
  transition: .3s;

  &__tab {
    @include size(7.813em 3.125em);
    line-height: 3.125em;
    background-color: $pro-white;
    display: inline-block;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-right: 0.125em;
    cursor: pointer;

    span {
      opacity: 0.5;
      user-select: none;
    }

    &--selected span {
      opacity: 1;
    }
  }

  &__tabs {
    background-color: $pro-light-gray;
  }

  &__header {
    display: inline-block;
    width: 100%;
    margin-bottom: 2.5em;
    @include grid-container;
  }

  &__header-icon {
    float: left;
    margin-right: 1.563em;
    @include size(3.250em);

    svg {
      @include size(3.250em);
    }
  }

  &__username,
  &__sub-heading {
    text-transform: capitalize;
  }

  &__username {
    font-size: 0.9em;
    margin: 0.62em 0;
    display: inline-block;
  }

  &__sub-heading {
    margin: 0;    
    font-size: 0.7em;
    color: tint($pro-purple, 75%);
    font-family: $pro-font-light;
  }

  &__grid-column {
    @include grid-column(1, $heading-grid);
  }

  &__search {
    text-align: right;
  }

  &__search-input {
    width: 30em;
    height: 3.125em;
    border-radius: 5px;
    border: 1px #DDDEE0 solid;
    padding-left: 3.125em;
    box-sizing: border-box;

    &::placeholder {
      color: $input-gray;
      font-size: 0.875em;
    }

    &:focus {
      outline: none;
    }
  }

  &__search-icon {
    @include position(absolute); 
    @include svg-color($input-gray);
    margin-top: 1.063em;
    margin-left: 1.063em;
    @include size(1em);
  }

  &__wrapper {
    background-color: $pro-white;
    @include padding(2.18em 1.87em);
  }
}