$nav-grid: (
  columns: 2,
  gutter: 0,
);

$nav-height: 6.250em;

.pro-nav {
  background-color: $pro-white;
  @include size(100% $nav-height);
  @include padding(0 3.125em);
  box-sizing: border-box;
  @include grid-container;
  // margin-bottom: 1.563em;

  &__grid-column {
    @include grid-column(1, $nav-grid);
    height: $nav-height;

    &--right {
      text-align: right;
    }
  }

  &__menu-icon {
    display: inline-block;
    margin-top: ($nav-height - 1.25em) / 2;
    float: left;
    line-height: 0;
    margin-right: 3.125em;
    cursor: pointer;
  }

  &__dropdown-trigger {
    float: right;
  }

  &__dropdown-arrow {
    float: right;
    margin-left: 1.25em;
    margin-top: ($nav-height - 1.5em) / 2;
    @include size(1.5em);
  }

  &__logo {
    display: inline-block;
    line-height: 0;
    margin-top: ($nav-height - 3.063em) / 2;
  }

  &__username {
    line-height: $nav-height;
  }

  &__logo-round {
    margin-top: ($nav-height - 2.625em) / 2;
    margin-right: 0.625em;
    display: inline-block;

    svg {
      display: block;
    }
  }
}