.pro-sidebar {
  min-width: 7.813em;
  height: calc(100vh - 100px);
  background-color: $pro-purple;
  transition: .3s;
  margin-left: 0;
  order: -1;

  &--closed {
    margin-left: -7.813em;
  }

  &__list {
    @include margin(2.813em 0 0 0);
    list-style: none;
    padding: 0;
    text-align: center;
  }

  &__list-item {
    margin-bottom: 2.5em;
    opacity: 0.7;
    cursor: pointer;

    &--selected,
    &:hover {
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: $pro-white;
  }

  &__icon {
    margin-bottom: 1.125em;
    margin-right: auto;
    margin-left: auto;

    svg {
      @include size(1.875em);
      @include svg-color($pro-white);
    }
  }
}