.pro-task {
  &__column {
    float: left;
    margin-right: 1.250em;

    &:first-of-type {
      margin-left: 0
    }
  }

  &__bar {
    height: 0.313em;
    background-color: $pro-purple;
    width: 100%;
    @include margin(0.438em null 1.563em null);

    &--blue {
      background-color: $pro-light-blue;
    }

    &--green {
      background-color: $pro-green;
    }
  }

  &__tasks {
    margin: 0;
    padding: 0;
  }

  &__number {
    float: right;
  }

  &__number,
  &__label {
    font-size: 0.813em;
  }

  &__heading,
  &__title,
  &__date {
    margin: 0;
  }

  &__heading {
    font-size: 0.813em;
    font-family: $pro-font-light;
    margin-bottom: 0.625em;
    display: block !important;
    @include ellipsis;
  }

  &__title {
    margin-bottom: 0.313em;
  }

  &__title,
  &__date {
    font-size: 0.625em;
    color: tint($pro-black, 50%);

    &--value {
      color: $pro-purple;
    }
  }

  &__item {
    @include size(16.56em 5em);
    border: 1px #DDDEE0 solid;
    margin-bottom: 0.625em;
    @include padding(0.625em 0.938em null 0.938em);
    box-sizing: border-box;
    display: block;
    color: $pro-black;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--overdue {
      border-left: 2px $pro-orange solid;

      .pro-task__date--value {
        color: $pro-orange;
      }
    }

    &--done {
      border-left: 2px $pro-green solid;
    }

    &--orange {
      background-color: $pro-orange;
      border-color: $pro-orange;
      color: $pro-white;

      .pro-task__date,
      .pro-task__title {
        color: $pro-white;

        &--value {
          color: $pro-white;
        }
      }
    }

    &--red {
      background-color: $pro-red;
      border-color: $pro-red;
      color: $pro-white;

      .pro-task__date,
      .pro-task__title {
        color: $pro-white;

        &--value {
          color: $pro-white;
        }
      }
    }

    &--green {
      background-color: $pro-green;
      border-color: $pro-green;
      color: $pro-white;

      .pro-task__date,
      .pro-task__title {
        color: $pro-white;

        &--value {
          color: $pro-white;
        }
      }
    }
  }
}