$pro-purple: #131A37;
$pro-light-gray: #EFF3F6;
$pro-orange: #EF5F3C;
$pro-red: #ED3E3F;
$pro-green: #1CB934;
$pro-white: #FFFFFF;
$pro-black: #000000;

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto/Heebo-Black.eot') format('truetype');
}


$pro-font-body: 'Roboto';
$pro-font-light: 'Roboto Light';
$pro-font-bold: 'Roboto Bold';
$pro-font-Black: 'Roboto Black';

// Line height
$base-font-family: $pro-font-body;
$heading-font-family: $base-font-family;

// Typography
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$base-font-color: $pro-purple;